version: '3.8'

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    env_file: ./api-gateway/.env
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://localhost:6379
  
  identity-service:
    build: ./identity-service
    env_file: ./identity-service/.env
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://localhost:6379
  
  post-service:
    build: ./post-service
    env_file: ./post-service/.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - REDIS_URL=redis://localhost:6379
      - RABBITMQ_URI=amqp://localhost:5672

  media-service:
    build: ./media-service
    env_file: ./media-service/.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - REDIS_URL=redis://localhost:6379
      - RABBITMQ_URI=amqp://localhost:5672

  search-service:
    build: ./search-service
    env_file: ./search-service/.env
    depends_on:
      - redis
      - rabbitmq
    environment:
      - REDIS_URL=redis://localhost:6379
      - RABBITMQ_URI=amqp://localhost:5672

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD","rabbitmq-diagnostics","-q","ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s